name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  mishax-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.11', '3.12', '3.13']

    steps:

    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - uses: lukka/get-cmake@latest

    - name: Install Mishax with dev dependencies
      run: pip install -e '.[dev]'

    - name: Run ast_patcher tests
      run: python -m mishax.ast_patcher_test

    - name: Run safe_greenlet tests
      run: python -m mishax.safe_greenlet_test

    - name: Run instrument_flax_loop tests
      run: python -m mishax.instrument_flax_loop_test

    - name: Run instrument_jax_loop tests
      run: python -m mishax.instrument_jax_loop_test

  gemma-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.11', '3.12']

    steps:

    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - uses: lukka/get-cmake@latest

    - name: Install Mishax with gemma dependencies
      run: pip install -e '.[gemma]'

    - name: Run gemma example tests
      run: python -m mishax.examples.gemma_test
